.contact-panel {
    padding-bottom: calc($body-padding - ($button-height / 2.4));
    display: flex;
    align-items: flex-end;
    transform: translate(0, 1%); // For animation below

    .contact-content {
        border: none;
        &::before {
            top: 0;
        }

        &-block {
            display: flex;
            gap: calc($gap / 2);
            margin-top: 24px;
        }

        &-method {
            border-top: 1px solid black;
            // border-top: 2px double black;
            width: calc(6rem + 6vw);
        }
        
        &-results {
            border-top: 1px solid black;
            // border-top: 2px double black;
            width: calc(8rem + 8vw);

            a {
                color: black;
            }
        }
    }
}

@media (max-width: 1220px) {
    .contact-panel {        
        padding-bottom: calc($body-padding - ($button-height));

        .contact-content {
            transform-origin: bottom left;
        }
    }
}

@media (max-width: 852px) {
    .contact-panel {
        align-items: flex-start;
        height: 60.6%;

        .contact-content {
            padding-top: 0;
            &-block {
                flex-direction: column;
                margin-top: 0;
                gap: 0;
                margin-bottom: 24px;
            }
    
            &-method {
                padding-top: 12px;
                width: 100%;
            }
            
            &-results {
                border: none;
                width: 100%;
                padding-left: 12px;
            }
        }
    }
}