@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi-Variable.woff2);
}

$satoshi: 'Satoshi', sans-serif;

$large-text: calc(0.8rem + 2vw);
$small-text: calc(0.8rem + 0.2vw);

$body-padding: calc(2rem + 2vw);
$button-width: calc(6rem + 4vw);
$button-height: calc(1.6rem + 0.6vw);

$gap: 3.6rem;

// Tablet Global Variables

$body-padding-tablet: calc(1.2rem + 1.2vw);

$tablet-gap: 2rem;


$test: 1px dashed grey;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $satoshi;
}

body {
    background: white;
    width: 100vw;
    height: 100vh;
    min-height: 36rem;
    display: flex;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    border: none;
    border-top: 1px solid black;
    cursor: pointer;
    width: $button-width;
    height: $button-height;
    text-align: left;
    font-size: $small-text;
    font-weight: 400;
}

aside {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translate(-20%, -50%);
}

h1 {
    font-size: $large-text;
    font-weight: 200;
}
h2, p, li {
    font-size: $small-text;
    font-weight: 400;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    padding: $body-padding;
}

.nav-links {
    .nav-link-item {
        height: $button-height;
        .nav-button {
            display: flex;
        }
    }
}

.logo-container {
    position: fixed;
    bottom: $body-padding;
    right: $body-padding;
    img {
        width: calc(1rem + 1vw);
    }
}

.panel {
    // border: $test;
    background: rgba(white, 0.8);
    backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    overflow: scroll;
    padding-top: $body-padding;
    left: calc($button-width + $body-padding + $gap);
    width: calc(100% - ($button-width + $body-padding + $gap));
    height: 100%;
    // min-height: 36rem;
    z-index: 1;
    transform: translate(0, -1%); // For animation below
    animation: open-panel 0.24s ease forwards;

    @keyframes open-panel {
        to {
            transform: translate(0, 0);
        }
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        background: white;
        width: calc(24rem + 6vw);
        height: 100%;
        z-index: 2;
        animation: show-panel-content 0.24s ease forwards;
    }
    @keyframes show-panel-content {
        to {
            height: 0;
        }
    }

    .content {
        // border: $test;
        position: relative;
        border-top: 1px solid black;
        padding-top: 0.2rem;
        padding-bottom: 1.8rem;
        // width: calc(16rem + 6vw);
        width: calc(24rem + 6vw);
        cursor: default;
        p,
        h2,
        ul {
            cursor: text;
        }
    }
}

.mouse-div {
    width: 86px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    mix-blend-mode: exclusion;
}

//
// Media Queries
//

@media (max-width: 1220px) {
    .app {
        padding: $body-padding-tablet;
    }

    .logo-container {
        bottom: $body-padding-tablet;
        right: $body-padding-tablet;
    }

    .panel {
        left: calc($button-width + $body-padding-tablet + $tablet-gap);
        padding-top: $body-padding-tablet;
        width: calc(100% - ($button-width + $body-padding-tablet + $tablet-gap));

        .content {
            transform: scale(0.86);
            transform-origin: 0 0;
        }
    }
}

@media (max-width: 852px) {
    .nav-links {
        border-top: 1px solid black;
        position: absolute;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        width: 92%;
        .nav-link-item {
            .nav-button {
                border: none;
                display: flex;
            }
        }
    }
    
    .logo-container {
        bottom: auto;
        top: $body-padding-tablet;
    }
}
