@font-face {
    font-family: 'Satoshi';
    src: url(../fonts/Satoshi-Variable.woff2);
}

$satoshi: 'Satoshi', sans-serif;

$large-text: calc(0.8rem + 2vw);
// $medium-text: calc(0.8rem + 0.8vw); // Tablet and Mobile
$small-text: calc(0.8rem + 0.2vw);

$body-padding: calc(2rem + 2vw);
$button-width: calc(6rem + 4vw);
$button-height: calc(1.6rem + 0.6vw);

$gap: 3.6rem;

// $ease1: cubic-bezier(.09,.69,.4,1);
$ease1: cubic-bezier(.75,0,.25,1);
// $ease1: cubic-bezier(.21,1.38,.52,1); // ease back

// Tablet Global Variables

$body-padding-tablet: calc(1.2rem + 1.2vw);
$tablet-gap: 2rem;


$test: 1px dashed grey;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $satoshi;
}

body {
    background: white; // For mouseDiv
    // width: 100vw;
    // height: 100vh;
    // height: 100dvh;
    min-height: 36rem;
    display: flex;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

button {
    background: none;
    border: none;
    border-top: 1px solid black;
    width: $button-width;
    height: $button-height;
    color: black;
    text-align: left;
    font-size: $small-text;
    font-weight: 400;
    cursor: pointer;
}

a {
    color: black;
}

aside {
    position: absolute;
    top: 50%;
    right: 4rem;
    transform: translate(-20%, -50%);
}

h1 {
    font-size: $large-text;
    font-weight: 200;
}
h2, p, li {
    font-size: $small-text;
    font-weight: 400;
}

.app {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    padding: $body-padding;
}

.nav-links {
    .nav-link-item {
        height: $button-height;
        .nav-button {
            display: flex;
        }
    }
}

.nav-links-mobile {
    display: none;
}


.logo-container {
    // position: fixed;
    position: absolute;
    bottom: $body-padding;
    right: $body-padding;
    img {
        width: calc(1rem + 1vw);
    }
}

.panel {
    background: rgba(white, 0.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    position: fixed;
    top: 0;
    overflow: scroll;
    padding-top: $body-padding;
    left: calc($button-width + $body-padding + $gap);
    width: calc(100% - ($button-width + $body-padding + $gap));
    height: 100%;
    // min-height: 36rem;
    z-index: 1;
    transform: translate(0, -1%); // For animation below
    animation: open-panel 0.12s ease forwards;

    @keyframes open-panel {
        to {
            transform: translate(0, 0);
        }
    }

    .content {
        // border: $test;
        position: relative;
        border-top: 1px solid black;
        padding-top: 0.2rem;
        padding-bottom: 1.8rem;
        // width: calc(16rem + 6vw);
        width: calc(24rem + 6vw);
        cursor: default;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            background: white;
            // background: lightblue;
            width: calc(24rem + 6vw);
            height: 100%;
            z-index: 2;
            // animation: show-panel-content 0.24s $ease1 forwards;
            animation: show-panel-content 0.12s ease forwards;
        }
        @keyframes show-panel-content {
            to {
                height: 0;
            }
        }

        p,
        h2,
        ul {
            cursor: text;
        }
    }
}

.mouse-div {
    width: 86px;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    mix-blend-mode: exclusion;
}

//
// Media Queries
//

@media (max-width: 1220px) {
    .app {
        padding: $body-padding-tablet;
    }

    .logo-container {
        bottom: $body-padding-tablet;
        right: $body-padding-tablet;
    }

    .panel {
        left: calc($button-width + $body-padding-tablet + $tablet-gap);
        padding-top: $body-padding-tablet;
        width: calc(100% - ($button-width + $body-padding-tablet + $tablet-gap));

        .content {
            transform: scale(0.86);
            transform-origin: 0 0;
        }
    }
}

@media (max-width: 852px) {
    .app {
        overflow: hidden;
    }

    aside {
        right: 50%;
        transform: translate(50%, -50%) scale(1.2);
        transform-origin: 0 center;
        width: 100%;
        padding: $body-padding-tablet;
    }

    .nav-links {
        display: none;
    }

    .nav-links-mobile {
        border-top: 1px solid black;
        background: white;
        padding-bottom: 0px;
        position: absolute;
        bottom: 12px;
        // bottom: $body-padding-tablet;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 92%;
        transition: 0.5s $ease1;
        z-index: 2;
        cursor: default;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100vw;
            height: 62vh;
            transform: translate(calc($body-padding * -0.6), 98%);
            // background: lightgreen;
            background: white;
            pointer-events: none;
            opacity: 1;
        }
        
        &-active {
            transform: translate(-50%, -63vh);
            &::after {
                animation: fade 0.6s ease 0.6s forwards;
            }

        }

        .nav-link-item {
            .nav-button {
                border: none;
                display: flex;
                align-items: center;
                width: auto;
                // font-size: $medium-text;
            }
            &:nth-of-type(2) {
                transform: translate(6%, 0);
            }
        }
    }

    .contact-button {
        display: none;
    }
    
    .logo-container {
        bottom: auto;
        top: $body-padding-tablet;
        left: $body-padding-tablet
    }

    .panel {
        background: white;
        top: auto;
        bottom: 0;
        left: 0;
        height: 60%;
        width: 92%;

        padding: 0;
        opacity: 0;
        margin: $body-padding-tablet;
        animation: none;
        animation: appear 0.4s ease 0.4s forwards;
        transform: translate(0, 0);

        @keyframes appear {
            to {
                opacity: 1;
            }
        }


        .content {
            // border: 2px solid coral;
            width: 100%;
            transform: scale(1);
            &::before {
                display: none;
            }
        }
    }
}

@keyframes fade {
    to {
        opacity: 0;
    }
}