.references-panel {
    padding-top: calc($body-padding + ($button-height * 2));

    .reference {
        display: flex;
        justify-content: space-between;
        margin: 2px 0;

        &-name {
            width: 34%;
        }
        &-company {
            width: 52%;
            text-align: right;
        }
    }
}

@media (max-width: 1220px) {
    .references-panel {
        padding-top: calc($body-padding-tablet + ($button-height * 2));
    }
}

@media (max-width: 852px) {
    .references-panel {
        padding-top: 0;
    }
}