@font-face {
  font-family: "Satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background: white;
  min-height: 36rem;
  display: flex;
}

nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

button {
  background: none;
  border: none;
  border-top: 1px solid black;
  width: calc(6rem + 4vw);
  height: calc(1.6rem + 0.6vw);
  color: black;
  text-align: left;
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 400;
  cursor: pointer;
}

a {
  color: black;
}

aside {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translate(-20%, -50%);
}

h1 {
  font-size: calc(0.8rem + 2vw);
  font-weight: 200;
}

h2, p, li {
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 400;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  padding: calc(2rem + 2vw);
}

.nav-links .nav-link-item {
  height: calc(1.6rem + 0.6vw);
}
.nav-links .nav-link-item .nav-button {
  display: flex;
}

.nav-links-mobile {
  display: none;
}

.logo-container {
  position: absolute;
  bottom: calc(2rem + 2vw);
  right: calc(2rem + 2vw);
}
.logo-container img {
  width: calc(1rem + 1vw);
}

.panel {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: fixed;
  top: 0;
  overflow: scroll;
  padding-top: calc(2rem + 2vw);
  left: calc(6rem + 4vw + 2rem + 2vw + 3.6rem);
  width: calc(100% - (6rem + 4vw + 2rem + 2vw + 3.6rem));
  height: 100%;
  z-index: 1;
  transform: translate(0, -1%);
  animation: open-panel 0.12s ease forwards;
}
@keyframes open-panel {
  to {
    transform: translate(0, 0);
  }
}
.panel .content {
  position: relative;
  border-top: 1px solid black;
  padding-top: 0.2rem;
  padding-bottom: 1.8rem;
  width: calc(24rem + 6vw);
  cursor: default;
}
.panel .content::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: white;
  width: calc(24rem + 6vw);
  height: 100%;
  z-index: 2;
  animation: show-panel-content 0.12s ease forwards;
}
@keyframes show-panel-content {
  to {
    height: 0;
  }
}
.panel .content p,
.panel .content h2,
.panel .content ul {
  cursor: text;
}

.mouse-div {
  width: 86px;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 3;
  color: white;
  mix-blend-mode: exclusion;
}

@media (max-width: 1220px) {
  .app {
    padding: calc(1.2rem + 1.2vw);
  }
  .logo-container {
    bottom: calc(1.2rem + 1.2vw);
    right: calc(1.2rem + 1.2vw);
  }
  .panel {
    left: calc(6rem + 4vw + 1.2rem + 1.2vw + 2rem);
    padding-top: calc(1.2rem + 1.2vw);
    width: calc(100% - (6rem + 4vw + 1.2rem + 1.2vw + 2rem));
  }
  .panel .content {
    transform: scale(0.86);
    transform-origin: 0 0;
  }
}
@media (max-width: 852px) {
  .app {
    overflow: hidden;
  }
  aside {
    right: 50%;
    transform: translate(50%, -50%) scale(1.2);
    transform-origin: 0 center;
    width: 100%;
    padding: calc(1.2rem + 1.2vw);
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    border-top: 1px solid black;
    background: white;
    padding-bottom: 0px;
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 92%;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
    z-index: 2;
    cursor: default;
  }
  .nav-links-mobile .nav-link-item .nav-button {
    border: none;
    display: flex;
    align-items: center;
    width: auto;
    font-size: calc(0.8rem + 0.8vw);
  }
  .nav-links-mobile .nav-link-item:nth-of-type(2) {
    transform: translate(6%, 0);
  }
  .contact-button {
    display: none;
  }
  .logo-container {
    bottom: auto;
    top: calc(1.2rem + 1.2vw);
    left: calc(1.2rem + 1.2vw);
  }
  .panel {
    background: white;
    top: auto;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 92%;
    padding: 0;
    margin: calc(1.2rem + 1.2vw);
    animation: none;
    transform: translate(0, 0);
  }
  @keyframes appear {
    to {
      opacity: 1;
    }
  }
  .panel::before {
    display: none;
  }
  .panel .content {
    width: 100%;
    transform: scale(1);
  }
}
.about-panel-portrait {
  position: absolute;
  top: 50%;
  right: 4rem;
  transform: translate(-20%, -50%);
  width: calc(8rem + 18vw);
}
.about-panel-portrait img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about-panel .content-paragraph {
  background: transparent;
}
.about-panel .content-list {
  display: grid;
  grid-template-columns: repeat(1fr, 2);
  grid-template-rows: auto;
  grid-template-areas: "title title" "list1 list2";
  gap: 0.2rem;
}
.about-panel .content-title {
  background: transparent;
}
.about-panel .content-list-1 {
  grid-area: list1;
  padding-left: 1.2rem;
  gap: 0.2rem;
}
.about-panel .content-list-2 {
  grid-area: list2;
  gap: 0.2rem;
}

@media (max-width: 1220px) {
  .about-panel-portrait {
    right: 0;
    width: calc(8rem + 12vw);
    top: 0;
    transform: translate(-12%, calc(1.2rem + 1.2vw));
  }
}
@media (max-width: 852px) {
  .about-panel-portrait {
    display: none;
  }
}
.portfolio-panel {
  display: flex;
  gap: 3.6rem;
  padding-top: calc(2rem + 2vw + 1.6rem + 0.6vw);
}
.portfolio-panel .content {
  height: 32%;
}
.portfolio-panel .content ol {
  list-style: none;
}
.portfolio-panel .content ol li {
  position: relative;
  border-top: 1px solid transparent;
  display: flex;
  justify-content: space-between;
}
.portfolio-panel .content ol li:first-of-type {
  border: none;
}
.portfolio-panel .content ol li .text-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.portfolio-panel .content ol li .text-data .index-name .index {
  display: inline-block;
  width: 2rem;
  margin-right: 0.6rem;
}
.portfolio-panel .content ol li .video-data {
  position: absolute;
  right: 0;
  transform: translate(calc(100% + 3.6rem), 0);
  background: black;
  width: 24vw;
  height: 24vw;
  padding: 24px;
  opacity: 0;
  pointer-events: none;
}
.portfolio-panel .content ol li .video-data video {
  width: 100%;
  height: 100%;
}
.portfolio-panel .content ol:hover li {
  opacity: 0.4;
}
.portfolio-panel .content ol:hover li:hover {
  opacity: 1;
  border-top: 1px solid black;
}
.portfolio-panel .content ol:hover li:hover .video-data {
  opacity: 1;
}
.portfolio-panel .content ol:hover li:first-of-type:hover {
  border: none;
}

@media (max-width: 1220px) {
  .portfolio-panel {
    padding-top: calc(1.2rem + 1.2vw + 1.6rem + 0.6vw);
  }
}
@media (max-width: 852px) {
  .portfolio-panel {
    padding-top: 0;
  }
}
.references-panel {
  padding-top: calc(2rem + 2vw + (1.6rem + 0.6vw) * 2);
}
.references-panel .reference {
  display: flex;
  justify-content: space-between;
  margin: 2px 0;
}
.references-panel .reference-name {
  width: 34%;
}
.references-panel .reference-company {
  width: 52%;
  text-align: right;
}

@media (max-width: 1220px) {
  .references-panel {
    padding-top: calc(1.2rem + 1.2vw + (1.6rem + 0.6vw) * 2);
  }
}
@media (max-width: 852px) {
  .references-panel {
    padding-top: 0;
  }
}
.contact-panel {
  padding-bottom: calc(2rem + 2vw - (1.6rem + 0.6vw) / 2.4);
  display: flex;
  align-items: flex-end;
  transform: translate(0, 1%);
}
.contact-panel .contact-content {
  border: none;
}
.contact-panel .contact-content::before {
  top: 0;
}
.contact-panel .contact-content-block {
  display: flex;
  gap: 1.8rem;
  margin-top: 24px;
}
.contact-panel .contact-content-method {
  border-top: 1px solid black;
  width: calc(6rem + 6vw);
}
.contact-panel .contact-content-results {
  border-top: 1px solid black;
  width: calc(8rem + 8vw);
}
.contact-panel .contact-content-results a {
  color: black;
}

@media (max-width: 1220px) {
  .contact-panel {
    padding-bottom: calc(2rem + 2vw - (1.6rem + 0.6vw));
  }
  .contact-panel .contact-content {
    transform-origin: bottom left;
  }
}/*# sourceMappingURL=styles.css.map */